.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.login_btn{
  color: black;
  background-color: #f5f5f5;
  width: 100px;
  }
  
  .login_btn:hover{
  color: black;
  background-color: rgb(211, 211, 211);
  }
  .listEntradas{
    background-color: lightgrey;
    color: black;
    opacity: 0.5;
    width: 100px; height: 100px;
    
    .mybackground{
      background-color: rgba(17, 17, 17, 0.699);
    }
}