.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.button1 {
  background-color:rgb(255, 255, 255) ;
  color: black;
  border: 2px solid #000000;
  border-radius: 8px;
}
.button1:hover{
  color: black;
  background-color: rgb(156, 255, 143);
  border-radius: 8px;
  }
  .button2 {
    background-color:rgb(255, 255, 255) ;
    color: black;
    border: 2px solid #000000;
    border-radius: 8px;
  }
  .button2:hover{
    color: black;
    background-color: rgb(131, 184, 253);
    border-radius: 8px;
    }
  .mybackground{
    background-color: rgba(17, 17, 17, 0.699);
    color: white;
  }
  .infoEst{
    color: white;
  }
  
