<div class= "view">
  <h1 class="title" style="text-align: left;">
    {{title}}
  </h1>
  <div style="text-align: center;">
    <div >
      <form action="">
      <input type="text" name= "User" placeholder="User">
      <input type="text" name= "Password" placeholder="Password">
    </form>
  </div>
  <button class="login_btn" (click)= "singIn()" >   Sing in 
    <!-- <div *ngIf="singIn()"></div>  
  <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['/home']"></a>
        </li>
      </ul>
    </links> -->
   </button>
  </div>
</div>
