<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#"><strong>XTecTutor</strong></a>
      </mdb-navbar-brand>
      <links>
        
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link"[routerLink]="['/perfilEstudiante']">Mi Perfil</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link"[routerLink]="['/busquedaFecha']">Busqueda Fecha</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link"[routerLink]="['/busquedaRelevancia']">Busqueda Relevancia</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" [routerLink]="['/createEntry']">Crear Entrada</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect >
            <a class="nav-link" [routerLink]="['/']">Log out</a> 
          </li>
        </ul>
  
      </links>
    </mdb-navbar>

    <div class="view ">
      <div class="row"><p>hola</p></div>
      <div class="row"><p>hola2</p></div>
      <div class="row">
        <div class="col-3">
          <div class="infoEst"><p>{{nombreEstudiante()}}</p></div>  
          <div class="infoEst"><p>{{carnet()}}</p></div>
          <div class="infoEst"><p>{{correo()}}</p></div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <button class="button1" (click)= "cambioContr()" > Cambiar contraseña</button>
        </div>
      </div>
      <div class="row mybackground">
        <div class="col align-self-center">
          <div>
            <div *ngFor="let elemento of e3; let i = index">
            <div class="infoEst">Título: {{e3[i].titulo}} </div>
            <div class="infoEst">Vistas: {{e3[i].Vistas}} </div>
            <div class="infoEst">Calificación: {{e3[i].calificacion}} </div>
            <div class="infoEst">Carrera: {{e3[i].Carrera}} </div>
            <div class="infoEst">Curso: {{e3[i].Curso}} </div>
            <div class="infoEst">Tema: {{e3[i].Tema}} </div>
            <div class="infoEst">Visible: {{e3[i].Visible}} </div>
            <div class="infoEst">FechaCreación: {{e3[i].FechaCrear}} </div>
            <div class="infoEst">Visible: {{e3[i].Visible}} </div>

            <button class="button2" (click)= "verEntrada(e3[i].IdEntrada)" > Ver entrada</button>
            <button class="button2" (click)= "editarEntrada(e3[i].IdEntrada)" > Editar entrada</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </header>
  