<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#"><strong>XTecTutor</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['/home']" > Home </a> <!---Navegacion del navbar-->
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"[routerLink]="['/perfilEstudiante']">Mi Perfil</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"[routerLink]="['/busquedaFecha']">Busqueda Fecha</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"[routerLink]="['/busquedaRelevancia']">Busqueda Relevancia</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['/createEntry']">Crear Entrada</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect >
          <a class="nav-link" [routerLink]="['/']">Log out</a> 
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <div class="view">
    <div class="full-bg-img">
      <div style="margin-top: 100px">
        <mdb-icon fas icon="star" size="3x"></mdb-icon>    {{calificacion}}
        <mdb-icon fas icon="eye" size="3x"></mdb-icon>    {{vistas}}
      </div>
      <div class="mask rgba-black-light flex-center ">
        <div class="container text-center white-text ">
          <h2 class="text-center"> Ttítulo: {{title}}</h2>
          <div class="white-text text-center wow fadeInUp ">
            <h2 class="text-center"> Autor(es) </h2>
            <p *ngFor="let element of listAutores" >{{element.nombre}} {{element.apellido}}</p>
            <div class="badge bg-dark text-wrap" style="width: 8rem;"><p>{{carrera}}<p></div>
            <div class="badge bg-dark text-wrap" style="width: 8rem;"><p>{{curso}}<p></div>
            <div class="badge bg-dark text-wrap" style="width: 5rem;"><p>{{tema}}</p></div>

            <h3 class="text-left"> Abstract </h3>
            <p class="text-justify"> {{abstract}} </p>
            <h3 class="text-left"> Cuerpo </h3>
            <p class="text-justify"> {{body}} </p>
            
            <p class="text-right">Fecha de creacion: {{fechaCrear}} </p>
              <div class="d-flex flex-column">
                <div *ngFor="let element of listComentarios" class="p-2 mybackground">
                  <h6>Autor: {{element.nombre}} </h6>
                  <p class="text-justify">{{element.body}} </p>
                    <hr>
                </div>
              </div>
              <p class="text-right">Ultima modificacion: {{fechaMod}} </p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>