<div class= "view">
  <h1 class="title" style="text-align: left;">
    XTecTutor
  </h1>
  <div style="text-align: center;">
    <div >
      <form [formGroup]="cambioContrForm" (submit)="onSubmit(cambioContrForm.value)" action=""> 
        <mat-form-field class="example-full-width" >
          <mat-label class="title1">New Password</mat-label>
            <input class="title1" formControlName="newPassword" matInput type="Newpassword" [type]="hideNewPassword? 'password':'text' ">
            <i class="material-icons"  matSuffix (click)="hideNewPassword = !hideNewPassword">
              {{hideNewPassword? 'visibility':'visibility_off'}}
            </i>
        </mat-form-field> 
        <mat-form-field class="example-full-width" >
          <mat-label class="title1">New Password Verify</mat-label>
            <input class="title1" formControlName="newPasswordVerify" matInput type="NewPasswordVerify" [type]="hideNewPasswordVerify? 'password':'text' ">
            <i class="material-icons"  matSuffix (click)="hideNewPasswordVerify = !hideNewPasswordVerify">
              {{hideNewPasswordVerify? 'visibility':'visibility_off'}}
            </i>
        </mat-form-field>
        <div class="form-group">
          <input type="submit" value="Save" class="btn float-center login_btn">
          <div *ngIf="mostrarError()" class="tag">
            <p>
              {{mostrarErrores()}}
            </p>
          </div>
        </div>  
      </form>
  </div>
   <button class="login_btn1" (click)= "cambioContr(false)" > Cancel 
  </button>
  </div>
</div>
